@import './base.css';


body{
  background-color: rgb(41, 38, 43);

}

@media (max-width: 800px){
  body{
    width: fit-content;
  }
}
#app {
  max-width: 1380px;
  margin: 0 auto;
  font-weight: normal;
  padding: 30px;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}


